body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-family: 'PT Sans', sans-serif;
    color: white;
}

main {
    width: 730px;
    margin: 100px auto;
    display: flex;
    align-items: center;
}

.sectionOne{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px;
    border-radius: 8px;
}

h1{
    text-align: center;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

.sectionTwo {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px;
}

.estadisticas {
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}

footer{
    text-align: center;
}

a{
    text-decoration: none;
}