body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-family: sans-serif;
    color: white;
}

main {
    border: 1px solid black;
    margin: 10px auto;
}